@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #2c4985;
    --branco: #706f0e;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #eeea13 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #1a035a;
    --fonte-secundario: "Josefin Sans";
    --preto: #c25e8c;
    --cinza: #be860c;
    --cinza-claro: #d61111;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}